<div class="container">
  <h1>Playlister YouTube Dashboard</h1>
  <h3><%=Artist.count%> Artists, <%=Song.count%> Songs, <%=Genre.count%> Genres</h3>
  </br>
  <div class="span6" style="text-align: right">


    <h3>10 Random Artists</h3>
    <% @artists.each do |artist| %>
      <button class="btn btn-medium"><a href="/artists/<%=artist.name.gsub(" ","_")%>"><%= artist.name %></a></button>
    <% end %>
    </br>
    </br>

    <h3>10 Random Songs</h3>
    <% @songs.each do |song| %>
      <button class="btn btn-small"><a href="/songs/<%=song.artist.name.gsub(" ","_") + "_-_" + song.name.gsub(" ","_")%>"><%=song.artist.name + " - " + song.name %><a/></button>
    <% end %>
  </div>
  <div class="span4">
  </br>
  </br>
  </br>
    <iframe class="youtube-player" type="text/html" width="448" height="269.5" src="http://www.youtube.com/embed/<%= YoutubeSearch.search("#{@song.artist.name}" "#{@song.name}").first["id"].split("/").last if YoutubeSearch.search("#{@song.artist.name}" "#{@song.name}").first%>" allowfullscreen frameborder="0">
</iframe>
  </div>
</div>